{% extends 'base.html.twig' %}

{%block body %}
<h1>Biennveeenue daaaaans ce blog</h1>
{% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quos amet architecto sunt, assumenda veritatis iure nemo ex aliquid doloribus quibusdam, facilis iusto, dolores omnis rerum minima minus blanditiis? Harum consequuntur suscipit natus quidem voluptatum est aliquid eveniet, tempore velit.</p>
<p>Corrupti consectetur, cum aliquid laudantium rem nulla, sit quam saepe tempore numquam praesentium, minima iure similique dignissimos? Iusto minus in, quis velit saepe similique harum eveniet recusandae exercitationem accusantium, blanditiis nesciunt eum fugit sed magnam tempore. Quidem eius ab iste.</p>

{% endblock %}