{% extends 'base.html.twig' %}


{% block body %}

<article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2022 à 19h00 dans la catégorie politique</div>
            <div class="content">
                <img src="https://via.placeholder.com/350x150.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quisquam voluptatem sint maxime nesciunt mollitia.</p>
                <p>Velit, dolore deserunt? Laboriosam, magni beatae? Minus soluta fugiat amet officiis assumenda deserunt commodi inventore.</p>
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
</article>
<hr>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, sunt, modi quo porro tempora esse sequi odit rem id labore, expedita accusantium pariatur in? Excepturi laudantium possimus architecto magnam. Enim ducimus quisquam est illum harum architecto qui illo. Quae incidunt quis quam ex voluptates neque, dicta praesentium sit libero veniam.</p>
<p>Fugiat quos dolorum, labore rem nesciunt harum in, quisquam cum error possimus pariatur eaque molestias dolore vitae sed. Sint vero optio tenetur saepe distinctio repellat commodi nobis iure perferendis! Magnam ipsa repellendus, aspernatur reiciendis, quis harum qui sequi, laudantium ullam porro esse nostrum. Ipsum, quibusdam fugiat. Aliquam, nesciunt expedita? Ipsam!</p>
{% endblock %}